{% extends 'base.html' %}

{% block content %}
  <style>
    .picture-container {
      text-align: center;
    }
    
    .picture-container img {
      display: inline-block;
      margin: 10px; 
    }
  </style>
  <h2>Alle Bilder</h2>
  <div class="picture-container">
    {% if pictures %}
    {% for picture in pictures %}
      <div class="content-block">
        <img src="{{ picture.picture.url }}" alt="Bild" />
        <p>Zeigen ab: {{ picture.show_since }}</p>
        <p>Zeigen bis: {{ picture.show_until }}</p>
        <a class="button" href="{% url 'picture_edit' pk=picture.pk %}">Bearbeiten</a>
        <a class="button" href="{% url 'picture_delete' pk=picture.pk %}">Löschen</a>
      </div>
    {% endfor %}
    {% else %}
    <p>Oh nein, es gibt keine Bilder</p>
  {% endif %}
  </div>
{% endblock %}
