{% extends 'base.html' %}

{% block content %}
  <style>
    .picture-container {
      text-align: center;
    }
    
    .picture-container img {
      display: inline-block;
      margin: 10px;
    }
  </style>

  <h2>Aktuelle Bilder</h2>
  <div class="picture-container">
    {% if pictures %}
      {% for picture in pictures %}
        <div>
          <img src="{{ picture.picture.url }}" alt="Bild" />
          <p>Zeigen bis: {{ picture.show_until }}</p>
        </div>
      {% endfor %}
    {% else %}
      <p>Oh nein, es gibt keine Bilder</p>
    {% endif %}
  </div>
{% endblock %}
