{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Der kleine Blog
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <meta http-equiv="refresh" content="300">
  </head>
  <body>
    <header>
      <h1>Der kleine Blog</h1>
    </header>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      {%if user.is_authenticated%}
      <a class="backlink" href="/">zurück</a>

      {%endif%}
    </footer>
  </body>
</html>
