{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django Referat
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>Django Referat</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/tasks/">Die Aufgaben</a>
          </li>
          <li>
            <a href="/pictures/upload/">Bild hochladen</a>
          </li>
          <li>
            <a href="/pictures/">Alle Bilder</a>
          </li>
          <li>
            <a href="/pictures/valid/">Aktuelle Bilder</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="content">
      {% block content %}

      {% endblock %}
    </div>

    <footer>
      <p></p>
    </footer>
  </body>
</html>
