{% extends 'base.html' %} {% block content %}
  <h2>Die 3 Aufgaben</h2>

  <p>Deine erste Aufgabe war es, das Projekt bis hierhin lauffähig zu bekommen, Glückwunsch! :)</p>
  <p>1. Erstelle eine eigene Seite und spiele sie hier im Projekt aus
  </p>

  <p>2. Versuche eine Möglichkeit zu schaffen einzelne Texte von der 
    "Alle Texte" Seite zu löschen, 
    Fortgeschrittene dürfen auch gerne eine "Sicher?" Form dazwischenschalten. Für die Bilder ist diese Funktion schon implementiert.
  </p>
  <p>Alternative zu 2. Versuche eine Möglichkeit zu schaffen die angegebenen Daten von Bildern zu bearbeiten.
    Für die Texte ist diese Funktion schon implementiert.
  </p>
{% endblock %}
