{% extends 'base.html' %} {% block content %}
  <h2>Die 3 Aufgaben</h2>

  
  <p>1. Versuche eine Möglichkeit zu schaffen einzelne Bilder von der 
    "Alle Bilder" Seite zu löschen, 
    Fortgeschrittene dürfen auch gerne eine "Sicher?" Form dazwischenschalten.
  </p>

  <p>2. Versuche eine Möglichkeit zu schaffen das "zeigen ab:" & "zeigen bis:" Feld auf der "Alle Bilder" (alternativ/zusätzlich "Alle Texte") Seite neu zu setzen.
    Es ist völlig okay, wenn dies auf einer neuen Seite geschieht.
  </p>
  <p>3. Django besticht vor allem durch sein User und Rechte System. Erstelle dir einen Superuser und finde den Django Admin. 
    Versuche danach einen Login/Logout in deiner Webapp zu implementieren. 
  </p>

{% endblock %}
